---
import Layout from '../layouts/Layout.astro'
import { getAllArticles } from '../lib/datocms'

const articles = await getAllArticles()
---

<Layout>
	<section>
		<h1>Blog</h1>
		<p>Fetched articles from DatoCMS. Check server console for details.</p>
		<ul>
			{articles?.map(article => (
				<li>
					{article.title}
				</li>
			))}
		</ul>
	</section>
</Layout>
